a {
    text-decoration: none;
}

p {
    background: darkseagreen;
    border-bottom: 1px solid green;
    border-radius: 5px;
    position: relative;
    top: -33px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    z-index: 0;
    text-align: center;
    height: 40px;
    width: 170px;
    padding-top: 8px;
}

p::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: mediumseagreen;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform .3s ease-out;
}

p:hover::before {
    transform: scaleX(1);
}

.div-stand {
    margin: auto;
    position: relative;
    top: 40px;
    height: 60px;
    width: 400px;
}

.div-bstand {
    position: relative;
    margin: auto;
    width: 830px;
    height: auto;
}

.div-tab {
    margin-left: 12px;
    height: 70px;
    width: 180px;
    float: left;
    cursor: pointer;
}

.div-content1 {
    position: relative;
    top:-20px;
    margin-left: 3px;
    height: 200px;
    width: 900px;
}

.div-content2 {
    position: relative;
    top:-20px;
    margin-left: 3px;
    height: 600px;
    width: 800px;
}